*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

button,
input,
textarea {
	display: block;
	background-color: transparent;
	font: inherit;
}

button {
	cursor: pointer;
}

textarea {
	resize: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}
